* {
  box-sizing: border-box;
}
.Navigation {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  display: flex;
  background: #000000;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.logo {
  width: 165.5px;
  height: 45.5px;
  cursor: pointer;
}
.Navigation div {
  height: 19px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  color: white;
}

#lang {
  display: flex;
  align-items: center;
}
#lang img {
  margin-right: 10px;
}
.buttons {
  display: flex;
  height: 64px;
  width: 200px;
  justify-content: space-between;
  margin-right: 85px;
  align-items: center;
}
.buttons div {
  padding: 5px;
  border-radius: 5px;
  width: 81px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login {
  border: 1px solid white;
  background-color: #000000;
  color: white;
}
#signup {
  background-color: white;
  color: black;
}
.linkStyle {
  text-decoration: none;
}
